@model TPFINALLAB4MVC.Models.PartidoDetalle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PartidoDetalle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.golesJugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.golesJugador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.golesRival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.golesRival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantRojas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantRojas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantAmarillas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantAmarillas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPartido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPartido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
